.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Category{
  text-align: left;
  padding: 20px;
}

/* .Category ul */

.items ul{
  list-style: none;
  text-align: center;
}

.Category-title em{
  padding: 3px 7px;
}

.Category-title em:hover{
  background-color: rgba(155, 255, 144, 0.5);
}

.Item-value{
  line-height: 30px;
}
.Item-created{
  margin-left: 15px;
}

.Item-remove{
  margin-left: 15px;
  padding: 2px;
  border: 2px lightcoral;   
  background-color:white;
  color: black;
  cursor: pointer;
  border-radius: 20px;
}


.Item-remove:hover{
  font-weight: 900;
  color: red;
}